<form (ngSubmit)="addEditClass()">

  <ion-item>
    <ion-label>{{'label.class.date.start' | translate}}</ion-label>
    <ion-datetime display-format="DD MM YYYY HH mm" [(ngModel)]="classObj.date_start" name="date_start"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>{{'label.class.date.end' | translate}}</ion-label>
    <ion-datetime display-format="DD MM YYYY HH mm" [(ngModel)]="classObj.date_end" name="date_end"></ion-datetime>
  </ion-item>

  <ion-item *ngIf="students.length > 0">
    <ion-label>{{'label.form.class.student' | translate}}</ion-label>
    <ion-select [(ngModel)]="classObj.id_student" name="student">
      <ion-select-option [value]="student.id" *ngFor="let student of students">
        {{student.name + ' ' + student.surname}}  
      </ion-select-option>
    </ion-select>
    </ion-item> 

  <ion-item>
    <ion-label>{{'label.form.class.price' | translate}}</ion-label>
    <ion-range min="0" max="100"[(ngModel)]="classObj.price" name="price"></ion-range>{{classObj.price}}$
  </ion-item>

  <ion-item *ngIf="load">
    <ion-label>{{'label.is.paid' | translate}}</ion-label>
    <ion-toggle [disabled]="edit && alreadyPaid" [(ngModel)]="paid" name="paid"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="paid">
    <ion-label>{{'label.date.paid' | translate}}</ion-label>
    <ion-datetime display-format="DD MM YYYY HH mm" [(ngModel)]="payment.date" name="date_paid"></ion-datetime>
  </ion-item>

  <ion-button expand="block" type="submit">{{(edit ? 'label.edit.class' : 'label.add.class') | translate}}</ion-button>
  <ion-button expand="block" type="button" (click)="closeForm()">{{'label.back' | translate}}</ion-button>

</form>
