<form (ngSubmit)="addEditStudent()">
  <ion-item>
    <ion-label>{{'label.form.student.name' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="student.name" name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{'label.form.student.surname' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="student.surname" name="surname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{'label.form.student.email' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="student.email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{'label.form.student.phone' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="student.phone" name="phone"></ion-input>
  </ion-item>

  <ion-button type="submit" expand="block" shape="round">{{(edit ? 'label.edit.student': 'label.add.student') | translate }}</ion-button>
  <ion-button type="button" expand="block" shape="round" (click)="closeForm()">{{'label.back' | translate }}</ion-button>
</form>